Source: pluma-plugins
Maintainer: Dan McGoo <user@machine.vm>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>=9),
               mate-common,
               libglib2.0-dev,
               libgtksourceview2.0-dev,
               libgtk2.0-dev,
               pluma-dev,
               python-dev,
               python-gtk2-dev,
               python-gtksourceview2,

Package: pluma-plugins
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, pluma
Description: Pluma plugins
 Additional plugins for pluma.

Package: pluma-plugins-dbg
Section: debug
Priority: extra
Architecture: any
Depends: ${misc:Depends},
         pluma-plugins (= ${binary:Version})
Description: Pluma plugins (debugging symbols)
 Additional plugins for pluma.
 .
 This package contains debugging symbols for Pluma plugins.
 .
 The debugging symbols are installed in /usr/lib/debug and will
 automatically be used by gdb.
